@import '_vendor/normalize';
@import '_partials/global';

a {
	text-decoration: none;
}

.email {
	margin-top: 80px;
	text-align: center;
}

.hey {
	width: 60px;
	// opacity: 0;
}

.icons {
	width: 300px;
	text-align: center;
	margin: 40px auto;
	a {
		&:hover .caption {
			opacity: 1;
			transition: 300ms;
		}
		float: left;
		margin: 0 20px;
		img {
			width: 50px;
		}
		.caption {
			opacity: 0;
		}
	}
}