@import '_vendor/normalize';
@import '_partials/global';

.large-img {
	background: #98D1D1;
	margin: 0px 0px 60px;
	width: calc(100vw - 40px);
	height: calc(calc( 100vw - 40px ) * .711111);
	@media (min-width: $phone-width) {
		width: 660px;
		height: 469px;
	}
	@media (min-width: $tablet-width) {
		width: 960px;
		height: 628px;
	}
}

.small-img {
	background: #98D1D1;
	margin: 0px auto 60px;
	width: calc(50vw - 40px);
	height: calc(calc(50vw - 40px ) * .711111);
	@media (min-width: $phone-width) {
		width: 640px;
		height: 449px;
	}
}

.phone-img {
	@media(min-width: $tablet-width) {
		width: 320px;
		height: 569px;
		background: #98D1D1;
		margin-bottom: 60px;
	}
}

.right {
	float: right;
}

.left {
	float: left;
	margin-left: 0px;
}

p {
	max-width: 580px;
	margin: 0px 0px 60px 160px;
	line-height: 1.5em;	
}

h2 {
	text-align: center;
	margin-top: 0px;
	&.title {
		margin: 60px 0px 0px;
		text-align: left;
	}
}

ul.tags {
	margin: 5px 0px 60px;
	list-style: none;
	padding: 0px;
	li {
		text-indent: none;
		float: left;
		margin-right: 30px;
	}
}

section {
	width: 100%;
	overflow: auto;
	// padding-top: 60px;
}
