$phone-width : 500px;
$project-size : calc( 50vw - 30px);

body {
	font-family: 'Helvetica Neue', 'Arial', sans-serif;
	margin: 0px;
	padding: 0px;
}

header {
	margin: 30px 20px;
	& > * {
		font-size: 16px;
		@media (min-width: $phone-width) {
			font-size: 20px;
		}
	}
	h1 {
		font-style: italic;
		font-weight: normal;
	}
	nav a {
		margin-right: 20px;
		font-weight: bold;
		text-decoration: none;
		&:visited {
			color: black;
		}
	}
}

main {
	margin: 0 auto;
	padding: 0 10px;
	width: 100vw;
	min-height: 100vh;
}

.project {
	width: $project-size;
	float: left;
	margin:  0 10px 20px;
	.project-image {
		background: #98D1D1;
		width: $project-size;
		height: $project-size;
	}
	.title {
		font-weight: normal;
		font-size: 16px;
		@media (min-width: $phone-width) {
			font-size: 20px;
		}
	}
}

