@import '_vendor/normalize';
@import '_partials/global';

.project {
	width: $project-size;
	max-width: 300px;
	float: left;
	margin:  0 10px 20px;
	.project-image {
		background: #98D1D1;
		width: $project-size;
		height: $project-size;
		max-width: 300px;
		max-height: 300px;
	}
	.title {
		height: 2em;
		margin-bottom: 0px;
		font-weight: normal;
		font-size: 16px;
		@media (min-width: $phone-width) {
			font-size: 20px;
		}
	}
}