@import '_vendor/normalize';
@import '_partials/global';

main:nth-child(even) .project {
	margin-right: 20px;
}
.project {
	width: $project-size;
	max-width: 300px;
	float: left;
	margin: 0 0 20px;
	&:hover .title {
		color: #FF4747;
		transition: .2s;
	}
	.project-image {
		background: #98D1D1;
		width: $project-size;
		height: $project-size;
		max-width: 300px;
		max-height: 300px;
	}
	.title {
		height: 2em;
		margin-bottom: 0px;
		font-weight: normal;
		font-size: 16px;
		position: relative;
		@media (min-width: $phone-width) {
			font-size: 20px;
		}
	}
}

