html
	head
		title Oskar Radon | About
		link(rel="stylesheet" href="css/work.css" type="text/css")
	body
		header
			h1 OSKAR RADON
			nav
				div.slider
				a.about(href="about.html") ABOUT
				a.work(href="/") WORK
				a.contact(href="contact.html") CONTACT
		main
			
				
		footer
			script(type="text/javascript" src="js/jquery-1.12.4.min.js")
			script(type="text/javascript" src="js/TweenMax.min.js")
			script(type="text/javascript" src="js/scripts.js")
			