html
	head
		title Oskar Radon
		link(rel="stylesheet" href="css/styles.css" type="text/css")
	body
		header
			h1 OSKAR RADON
			nav
				a(href="") ABOUT
				a(href="") WORK
				a(href="") CONTACT
		main
			div.project
				div.project-image
				h2.title SARAH MEADOWS
			div.project
				div.project-image
				h2.title PAIMIO
			div.project
				div.project-image
				h2.title SCOOP
			div.project
				div.project-image
				h2.title ORCHARD47
			div.project
				div.project-image
				h2.title ALBUM ART EXCHANGE
				

		footer
			script(type="text/javascript" src="js/jquery-1.12.4.min.js")
			script(type="text/javascript" src="js/index.js")