html
	head
        title Oskar Radon
        link(rel="stylesheet" href="css/styles.css" type="text/css")
    body
        header
            h1 OSKAR RADON
            nav
                a(href="") ABOUT
                a(href="") WORK
                a(href="") CONTACT
        main
            div.portfolio
                h2.title 
            div.portfolio
            div.portfolio
            div.portfolio
            div.portfolio

        footer
            script(type="text/javascript" src="js/jquery-1.12.4.min.js")
            script(type="text/javascript" src="js/index.js")