html
	head
		title Oskar Radon | Sarah Meadows
		link(rel="stylesheet" href="../css/project.css" type="text/css")
		link(rel="shortcut icon" type="image/png" href="../assets/img/cool.png")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		header
			h1 OSKAR RADON
			nav
				div.slider
				a.about(href="about.html") ABOUT
				a.work(href="/") WORK
				a.contact(href="contact.html") CONTACT
		main
			div.main-img
		footer
			script(type="text/javascript" src="js/jquery-1.12.4.min.js")
			script(type="text/javascript" src="js/TweenMax.min.js")
			script(type="text/javascript" src="js/scripts.js")
			