$color-red    : #FF4747;
$color-yellow : #FFEF4F;
$color-blue   : #7AD1D1;


body {
	font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

a {
	color: black;
	text-decoration: none;
	&:visited {
		color: black;
	}
}

p a {
	color: $color-red;
	&:hover, &:active {
		color: $color-blue;
		transition: .5s;
	}
}

header {
	margin: 30px 0px;
	& > * {
		font-size: 20px;
	}
	h1 {
		font-style: italic;
		font-weight: normal;
	}
	nav a {
		margin-right: 20px;
		font-weight: bold;
		text-decoration: none;
	}
}

main {
	margin: 0 auto;
	padding: 0px;
	min-height: 50vh;
}

.slider {
	z-index: -99;
	height: 4px;
	position: absolute;
	margin: 24px 0 0 0;
}
