$color-red       : #FF4747;
$color-yellow    : #FFEF4F;
$color-blue      : #7AD1D1;
$color-off-white : #f4f8fb;
$color-green     : #79D879;
$color-black     : #1d1f21;
$color-orange    : #FC9F5B;

$first-breakpoint-value: 0px;
$second-breakpoint-value: 700px;

$small-viewport: new-breakpoint(min-width $first-breakpoint-value max-width $second-breakpoint-value);
$large-viewport: new-breakpoint(min-width $second-breakpoint-value + 1);