html
	head
		title About | Oskar Radon
		meta(charset="utf-8")
		link(rel="stylesheet" href="css/normalize.min.css" type="text/css")
		link(rel="stylesheet" href="css/about.min.css" type="text/css")
		link(rel="shortcut icon" type="image/png" href="/assets/img/cool.png")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		header
			h1 OSKAR RADON
			nav
				div.slider
				a.about(href="about.html") ABOUT
				a.work(href="/") WORK
				a.contact(href="contact.html") CONTACT
		main
			img(src="assets/img/about-small-sq.jpg")
			section.about
				h1 Hey I'm Oskar
				p I’ve been pursuing web design and development since the days of MySpace, and earlier this year I  graduated from Epicodus, a fantastic dev bootcamp in downtown Portland. 
				p I’m passionate about building remarkable and innovative user experiences, and constantly learning new tools, techniques, libraries, and languages. Currently I'm exploring functional programming and teaching myself React, Redux, and Webpack.
				p When I’m not writing code, learning, or working in Sketch and Illustrator I like to bike, rock climb, read  sci-fi, paint, write, and draw. 
				p Send me an <a href="mailto:hi@oskarradon.com">email</a> if you want to work together on any projects!	
		footer
			script(type="text/javascript" src="js/Chart.min.js")
			script(type="text/javascript" src="js/TweenMax.min.js")
			script(type="text/javascript" src="js/jquery-1.12.4.min.js")
			script(type="text/javascript" src="js/scripts.min.js")
			