html
	head
		title Contact | Oskar Radon
		meta(charset="utf-8")
		link(rel="stylesheet" href="css/vendor/normalize.min.css" type="text/css")
		link(rel="stylesheet" href="css/contact.min.css" type="text/css")
		link(rel="shortcut icon" type="image/png" href="/assets/img/cool.png")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		header
			h1 OSKAR RADON
			nav
				div.slider
				a.about(href="about.html") ABOUT
				a.work(href="/") WORK
				a.contact(href="contact.html") CONTACT
		main
			a(href="mailto:hi@oskarradon.com")
				h1.email hi@oskarradon.com
			div.icons
				a(href="assets/resume.pdf")
					img(src="assets/img/document.png")
					p.caption Resume
				a(href="https://www.github.com/oskarradon")
					img(src="assets/img/octopus.png")
					p.caption GitHub
				a(href="https://www.linkedin.com/in/oskarradon")
					img(src="assets/img/business.png")
					p.caption LinkedIn
				
		footer
			script(type="text/javascript" src="js/jquery-1.12.4.min.js")
			script(type="text/javascript" src="js/TweenMax.min.js")
			script(type="text/javascript" src="js/scripts.min.js")
			