html
	head
		title Oskar Radon | Work
		link(rel="stylesheet" href="css/vendor/normalize.min.css" type="text/css")
		link(rel="stylesheet" href="css/work.min.css" type="text/css")
		link(rel="shortcut icon" type="image/png" href="/assets/img/cool.png")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		header
			h1 OSKAR RADON
			nav
				div.slider
				a.about(href="about.html") ABOUT
				a.work(href="/") WORK
				a.contact(href="contact.html") CONTACT
		main
			a(href="sarah-meadows.html")
				div.project
					div.project-image
					h2.title SARAH MEADOWS
			a(href="paimio.html")
				div.project
					div.project-image
					h2.title PAIMIO
			a(href="scoop.html")
				div.project
					div.project-image
					h2.title SCOOP
			a(href="orchard.html")
				div.project
					div.project-image
					h2.title ORCHARD47
			a(href="album-art-exchange.html")
				div.project
					div.project-image
					h2.title ALBUM ART EXCHANGE
			a(href="album-art-exchange.html")
				div.project
					div.project-image
					h2.title PORTFOLIO
			
		footer
			script(type="text/javascript" src="js/jquery-1.12.4.min.js")
			script(type="text/javascript" src="js/TweenMax.min.js")
			script(type="text/javascript" src="js/scripts.min.js")
			