html
	head
		title Oskar Radon | Work
		link(rel="stylesheet" href="css/work.min.css" type="text/css")
		link(rel="shortcut icon" type="image/png" href="/assets/img/cool.png")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		header
			h1 OSKAR RADON
			nav
				div.slider
				a.about(href="about.html") ABOUT
				a.work(href="/") WORK
				a.contact(href="contact.html") CONTACT
		main
			a.project(href="sarah-meadows.html")
				img(src="assets/img/sarah-meadows-sq.jpg" alt="")
				h2.title SARAH MEADOWS
			a.project(href="sarah-meadows.html")
				img(src="assets/img/paimio-sq.jpg" alt="")
				h2.title PAIMIO
			a.project(href="sarah-meadows.html")
				img(src="assets/img/sarah-meadows-sq.jpg" alt="")
				h2.title SARAH MEADOWS
	footer
			script(type="text/javascript" src="js/jquery-1.12.4.min.js")
			script(type="text/javascript" src="js/TweenMax.min.js")
			script(type="text/javascript" src="js/scripts.min.js")
			