html
	head
		title Work | Oskar Radon
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="The portfolio of Oskar Radon, web developer, designer, and artist")
		link(rel="stylesheet" href="css/normalize.min.css" type="text/css")
		link(rel="stylesheet" href="css/work.min.css" type="text/css")
		link(rel="shortcut icon" type="image/png" href="/assets/img/cool.png")
	body
		header
			h1 OSKAR RADON
			nav
				div.slider
				a.about(href="about.html") ABOUT
				a.work(href="/") WORK
				a.contact(href="contact.html") CONTACT
		main
			a.project(href="sarah-meadows.html")
				img(src="assets/img/sarah-meadows/sarah-meadows-sq.jpg" alt="")
				h2.title SARAH MEADOWS
				p.tags Wordpress &#183; UI Design &#183; PHP
			a.project(href="paimio.html")
				img(src="assets/img/paimio-sq.jpg" alt="")
				h2.title PAIMIO
				p.tags UI Design &#183; jQuery &#183; Sass
			a.project(href="orchard47.html")
				img(src="assets/img/orchard-sq.jpg" alt="")
				h2.title ORCHARD47
				p.tags PHP &#183; JavaScript
			a.project(href="mosk.html")
				img(src="assets/img/mosk-sq.jpg" alt="")
				h2.title MOSK
				p.tags Ember &#183; Sass &#183; UI Design
	footer
			script(type="text/javascript" src="js/jquery-1.12.4.min.js")
			script(type="text/javascript" src="js/TweenMax.min.js")
			script(type="text/javascript" src="js/scripts.min.js")
			