html
	head
		title MoSK | Oskar Radon
		meta(charset="utf-8")
		link(rel="stylesheet" href="css/prism.css" type="text/css")
		link(rel="stylesheet" href="css/prism-theme.min.css" type="text/css")
		link(rel="stylesheet" href="css/slick.min.css" type="text/css")
		link(rel="stylesheet" href="css/slick-theme.min.css" type="text/css")
		link(rel="stylesheet" href="css/project.min.css" type="text/css")
		link(rel="shortcut icon" type="image/png" href="/assets/img/cool.png")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		header
			h1 OSKAR RADON
			nav
				div.slider
				a.about(href="about.html") ABOUT
				a.work(href="/") WORK
				a.contact(href="contact.html") CONTACT
		main
			section
				div.intro
					h1.title MoSK
					h3.tags DESIGN &#183; EMBER &#183; SCSS &#183; JAVASCRIPT
				div.links
					a(href="https://patternandshape.github.io/mosk/dist/index.html#/") 
						img.icon(src="assets/img/door.png")
						p View the finished site
					a(href="https://github.com/oskarradon/mosk")
						img.icon(src="assets/img/magnifier.png") 
						p View the repository on GitHub
				img.img-lg(src="assets/img/mosk-main.jpg" alt="Main page of MoSK site")
				
			section.text-block
				p Description coming soon...

		footer
			script(type="text/javascript" src="js/jquery-1.12.4.min.js")
			script(type="text/javascript" src="js/prism.js")
			script(type="text/javascript" src="js/slick.min.js")
			script(type="text/javascript" src="js/TweenMax.min.js")
			script(type="text/javascript" src="js/scripts.min.js")
			