html
	head
		title MoSK | Oskar Radon
		meta(charset="utf-8")
		link(rel="stylesheet" href="css/normalize.min.css" type="text/css")
		link(rel="stylesheet" href="css/prism.css" type="text/css")
		link(rel="stylesheet" href="css/prism-theme.min.css" type="text/css")
		link(rel="stylesheet" href="css/slick.min.css" type="text/css")
		link(rel="stylesheet" href="css/slick-theme.min.css" type="text/css")
		link(rel="stylesheet" href="css/project.min.css" type="text/css")
		link(rel="shortcut icon" type="image/png" href="/assets/img/cool.png")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		header
			h1 OSKAR RADON
			nav
				div.slider
				a.about(href="about.html") ABOUT
				a.work(href="/") WORK
				a.contact(href="contact.html") CONTACT
		main
			section
				div.intro
					h1.title MoSK
					h3.tags DESIGN &#183; EMBER &#183; SCSS &#183; JAVASCRIPT
				div.links
					a(href="https://patternandshape.github.io/mosk/dist/index.html#/") 
						img.icon(src="assets/img/door.png")
						p View the finished site
					a(href="https://github.com/oskarradon/mosk")
						img.icon(src="assets/img/magnifier.png") 
						p View the repository on GitHub
				img.img-lg(src="assets/img/mosk-main.jpg" alt="Main page of MoSK site")
				
			section.text-block
				p MoSK is an Ember app I designed and built with <a href="http://patternandshape.org/" title="The portfolio of Molly Curtin">Molly Curtin</a> as part of the Epicodus JavaScript course. We used a Firebase database with some example seed data in a JSON file. Users can add works to their cart, and add, delete, and update works. Some functionality that would be cool to add is the ability to have multiple users with authentication, and the ability to search the database. I implemented search functionality in <a href="https://oskarradon.github.io/lousy-lifehacks/" title="A link to the Lousy Lifehacks repo">Lousy Lifehacks</a>, another Ember app I made at Epicodus as a group project with the YouTube API. 

				p I’m proud of the project because the design is so clean and bright. If this were designed to have more works it would make sense to display the images smaller and contain all the information a bit more, maybe making the grid 4 or 5 across. As it is the white space balances the bright colors and opinionated font choice of the monospaced Inconsolata.  I also really dig the fixed nav buttons on the left, and the logo with negative letter-spacing which is an homage of course to the MoMA. Using <code>#FF0000</code> and <code>#0000FF</code> as the red and blue colors for this project was a bold choice, but in this case it adds to the playful and iconic nature of the design.

			h1.section-title THANKS FOR WATCHING!

		footer
			script(type="text/javascript" src="js/jquery-1.12.4.min.js")
			script(type="text/javascript" src="js/prism.js")
			script(type="text/javascript" src="js/slick.min.js")
			script(type="text/javascript" src="js/TweenMax.min.js")
			script(type="text/javascript" src="js/scripts.min.js")
			