html
	head
		title Orchard47 | Oskar Radon
		meta(charset="utf-8")
		link(rel="stylesheet" href="css/normalize.min.css" type="text/css")
		link(rel="stylesheet" href="css/prism.css" type="text/css")
		link(rel="stylesheet" href="css/prism-theme.min.css" type="text/css")
		link(rel="stylesheet" href="css/slick.min.css" type="text/css")
		link(rel="stylesheet" href="css/slick-theme.min.css" type="text/css")
		link(rel="stylesheet" href="css/project.min.css" type="text/css")
		link(rel="shortcut icon" type="image/png" href="/assets/img/cool.png")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		header
			h1 OSKAR RADON
			nav
				div.slider
				a.about(href="about.html") ABOUT
				a.work(href="/") WORK
				a.contact(href="contact.html") CONTACT
		main
			section
				div.intro
					h1.title ORCHARD47
					h3.tags PHP &#183; CSS
				div.links
					a(href="http://47orchard.org") 
						img.icon(src="assets/img/door.png")
						p View the finished site
					a(href="http://github.com/oskarradon/orchard47")
						img.icon(src="assets/img/magnifier.png") 
						p View the repository on GitHub
				img.img-lg(src="assets/img/orchard-main.jpg" alt="Main page of Orchard47 site")
				
			section.text-block
				p This was the first site I worked on as a freelancer. <a href="https://en.wikipedia.org/wiki/Orchard_(artist-run_space)" title="The Wikipedia page for Orchard">Orchard</a> was an artist-run space in New York that existed from 2005 - 2008.  My task was to take their defunct PHP-based site mostly from the Wayback Machine and turn it into a static site with only HTML and CSS. It was a fantastic exercise that taught me a ton about how to format and write clean markup, and really started my journey as a web developer. 
				
				p One by one I went through each of the pages, fixing a bit of styling here, a broken link there until the site looked and functioned the same as the <a href="https://web.archive.org/web/20140801000000*/http://orchard47.org" title="The archived Orchard47.org">archived version</a>. I was able to add back in assets from the original developer, but some of the documentation was regrettably lost in the move. I'm thankful to <a href="http://www.veneermagazine.com/" title="Veneer Magazine">Flint Jamison</a> for putting me in contact with the artists from Orchard, and for the opportunity to use my (then very limited) skills to advance, record, and allow for important art. 

			h1.section-title THANKS FOR WATCHING!

		footer
			script(type="text/javascript" src="js/jquery-1.12.4.min.js")
			script(type="text/javascript" src="js/prism.js")
			script(type="text/javascript" src="js/slick.min.js")
			script(type="text/javascript" src="js/TweenMax.min.js")
			script(type="text/javascript" src="js/scripts.min.js")
			