html
	head
		title Sarah Meadows | Oskar Radon
		meta(charset="utf-8")
		link(rel="stylesheet" href="css/normalize.min.css" type="text/css")
		link(rel="stylesheet" href="css/prism.css" type="text/css")
		link(rel="stylesheet" href="css/prism-theme.min.css" type="text/css")
		link(rel="stylesheet" href="css/slick.min.css" type="text/css")
		link(rel="stylesheet" href="css/slick-theme.min.css" type="text/css")
		link(rel="stylesheet" href="css/project.min.css" type="text/css")
		link(rel="shortcut icon" type="image/png" href="/assets/img/cool.png")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		header
			h1 OSKAR RADON
			nav
				div.slider
				a.about(href="about.html") ABOUT
				a.work(href="/") WORK
				a.contact(href="contact.html") CONTACT
		main
			section
				div.intro
					h1.title SARAH MEADOWS
					h3.tags Design &#183; WordPress &#183; PHP &#183; Sass
				div.links
					a(href="http://sarah-meadows.com") 
						img.icon(src="assets/img/door.png")
						p View the finished site
					a(href="http://github.com/oskarradon/sarah-meadows-wp")
						img.icon(src="assets/img/magnifier.png") 
						p View the repository on GitHub
				img.img-lg(src="assets/img/sarah-meadows/main.jpg" alt="Main page of Sarah Meadows site")
				
			section.text-block
				p This is a photography portfolio site I built for Portland-based artist Sarah Meadows. Her previous site was built with Indexhibit and wasn’t letting her upload images, and there was no mobile version of the site. I chose to rebuild it using Wordpress because of its support and popularity, and because I wanted to learn PHP and to build a theme for a CMS. I worked through the Treehouse course for building Wordpress Themes while prototyping, and the result is a site I am extremely proud of for its simplicity and individuality.

				p Throughout the process I was in contact with Sarah, clarifying her vision for the site and communicating about the stages of the process I was at. I sent her some preliminary ideas for the mobile version (mobile first!) that I sketched out and some preliminary ideas I whipped up in Sketch. 

			h1.section-title IDEATION	
		
			section
				img.img-lg(src="assets/img/sarah-meadows/0.jpg" alt="Preliminary sketch of Sarah Meadows site")
				p.img-caption Preliminary sketch with ideas for different layouts and logos. I think it's important to start with pencil on paper, as it allows for a more natural flow of ideas.
			
			h1.section-title DESIGN

			section
				div.slick
					img(src="assets/img/sarah-meadows/1.jpg" alt="Some text goes here")
					img(src="assets/img/sarah-meadows/2.jpg")
					img(src="assets/img/sarah-meadows/3.jpg")
					img(src="assets/img/sarah-meadows/4.jpg")
					img(src="assets/img/sarah-meadows/5.jpg")
				p.img-caption The first round of Sketch mockups, many elements from this first round made it into the final design. The grid in the final mockup became the project page, and the scattered mockup was refined and bacame the front page.


			section.text-block
				p The first round of ideas played with the ideas I came up with on paper, finding ways of abstracting the simple grid layout that one is used to for a portfolio site, and experimenting with ways of displaying menu information. I think my favorite menu is the icons with text below, and since Sarah didn’t care for it I used the idea on my site! Also, in this first round I used only one font for the menu and used Sarah’s old logo to not distract from the layout. In hindsight I should have made simple wireframes and then developed them further into more complete mockups like these to not overwhelm my client with choices, but this was a learning process. And what I learned in the design and development of this site has helped me refine my processes and made me a better developer and designer.

			section
				div.slick
					img(src="assets/img/sarah-meadows/6.jpg" alt="Some text goes here")
					img(src="assets/img/sarah-meadows/7.jpg")
					img(src="assets/img/sarah-meadows/8.jpg")

				p.img-caption The second round of Sketch mockups for the mobile version, expanding on the scattered layout and trying out different fonts. 

			section.text-block
				p After receiving some feedback, I went ahead with the scattered layout and designed three more mockups, this time playing with the size of the images on the home page, and how many would be visible. At this time I already had the idea that the site would be like the wall of an art gallery and the user could scroll left to right and up and down to view all of the images that would like to each of the projects, but another thing I neglected in this process was drawing out a sitemap. Although I had a clear picture in my head of the user experience it’s always better to follow each of the steps of the design process. 

			section.text-block
				p Once we talked a bit more I moved ahead with the sparser scattered design. I created wireframes for the desktop site with varying colors, layouts of the nav and logo, background options, and hover events to display the title of the project. I also came up with a number of different palettes and logo options with different fonts and layouts. I sent Sarah the fonts and colors as they pertained to the header, and incorporated visualizations of the hover events. Again, I feel that I should have sent over fewer designs, but as I said before I learned a great deal from this project!
			
			section
				div.slick
					img(src="assets/img/sarah-meadows/9.jpg" alt="Some text goes here")
					img(src="assets/img/sarah-meadows/10.jpg")
					img(src="assets/img/sarah-meadows/11.jpg")
					img(src="assets/img/sarah-meadows/12.jpg")
					img(src="assets/img/sarah-meadows/13.jpg")
					img(src="assets/img/sarah-meadows/14.jpg")
					img(src="assets/img/sarah-meadows/15.jpg")
					img(src="assets/img/sarah-meadows/16.jpg")
					img(src="assets/img/sarah-meadows/17.jpg")

				p.img-caption Wireframes of the front page experimenting with different color palettes, header orientations and configurations, and hover effects on each project. I thought most of the hover effects were referential to polaroids so I chose not to have a background appear in the final design and went with a box shadow instead. 
			
			section 
				img.img-lg(src="assets/img/sarah-meadows/18.jpg")

				p.img-caption Different hover effects and colors for the header, and different spacing options for the nav links. The 'glow' effect of a colored box shadow was the design that made it into the final project, and because I chose yellow I decided to use a bolder font which led me to using Roboto Mono instead of Helvetica throughout.

			section.text-block
				p I chose Helvetica Neue because it is a web safe font on Macs, and because the capital letters were wide enough that the thin font weight didn’t look too sharp and pointed. I ended up balancing Helvetica Neue with Roboto Mono in bold italics (except in the navbar) because it seemed to ground the airy lightness with it’s weight and utilitarian feeling and because monospace fonts remind me of the command line. I enjoyed the way referentially it spoke to Helvetica Neue, which makes me think of simple mostly un-styled early websites in a similar way to Times New Roman. 

				p My next step was to design a full-fidelity mockup which I turned into an interactive inVision prototype and sent to Sarah. I changed the hover effects to a neon-like glow for the nav and a drop shadow on the project pictures which both balance out the more digital feel of the font choices, and the natural imagery of the photography being displayed. After getting her approval I got started on the development!

			h1.section-title DEVELOPMENT

			section.text-block
				p For this site I used the <a href="https://wordpress.org/plugins/custom-post-type-ui/">Custom Post Type UI</a> and <a href="https://wordpress.org/plugins/advanced-custom-fields/">Advanced Custom Fields</a> plugins which were immensely helpful. I also used the fantastic <a href="https://necolas.github.io/normalize.css/">Normalize.css</a> stylesheet for making the site more consistent across multiple browsers. The particularly challenging aspects of the development of this site, after understanding the Wordpress site structure were styling the project links on the front page, and on each of the project pages the javascript to toggle enlarging the images and displaying their captions. The rest of the development was mostly fine-tuning the styling and a great deal of trial and error.

			section.text-block
				p The front page was challenging because I needed a way of referring to each of the posts that wasn’t <code class="language-php">&lt;?php the_title(); ?&gt;</code>. I knew I was going to have to style them exactly, and I wanted some variance in the spacing, so iterating over each of them and applying styles with javascript would have worked and perhaps been more elegant but I felt the need to separate my styling and scripting, which is ironic as I later used jQuery to add and remove styling to achieve the toggle effect. So I made a PHP variable that counted up from one for each post on the front page and used this as the project’s ID. Then in the stylesheet I gave each element absolute positioning and top and left values to align them on the page.

			pre
				code.language-php.
					&lt;?php
					&#9;$num_posts = ( is_front_page() ) ? 20 : -1;
					&#9;$args = array(
					&#9;&#9;'post_type' =&gt; array ( 'portfolio', 'link' ),
					&#9;&#9;'posts_per_page' =&gt; $num_posts
					&#9;);
					&#9;$query = new WP_Query( $args );
					&#9;$unique_id = 1;
					?&gt;&#10;
					&lt;main&gt;
					&#9;&lt;?php if( $query-&gt;have_posts() ) : while( $query-&gt;have_posts() ) : $query-&gt;the_post(); ?&gt;
					&#9;&#9;&lt;?php if( get_post_type() == 'portfolio' ): ?&gt;
					&#9;&#9;&#9;&lt;div id="post&lt;?php echo $unique_id;?&gt;" class="portfolio-item"&gt;
					&#9;&#9;&#9;&lt;a href="&lt;?php the_permalink(); ?&gt;"&gt;&lt;?php the_post_thumbnail('post-size'); ?&gt;&lt;/a&gt;
					&#9;&#9;&#9;&lt;p class="post-title"&gt;&lt;?php the_title(); ?&gt;&lt;/p&gt;
					&#9;&#9;&lt;/div&gt;
					&#9;&#9;&lt;?php endif; ?&gt;
					&#9;&#9;…
					&#9;&#9;&lt;?php $unique_id++; ?&gt;
					&#9;&lt;?php endwhile; endif; wp_reset_postdata(); ?&gt;
					&lt;/main&gt;

			section.text-block
				p The problem of toggling the image caption and resizing on the project page I accomplished using my good friend jQuery, more specifically the <code class="language-javascript">.toggle()</code> and <code class="language-javascript">.css()</code> methods. On the tablet and desktop sizes of the site clicking on one of the images shows the caption of the image by changing it’s opacity (I used this instead of display:none/block to avoid adding and removing bottom margins to account for the missing and showing captions), and enlarges the image by changing it’s width property. For projects that only have two images, I also had to change the width of the containing div to ensure the gallery would stay centered. The <code class="language-css">.active</code> class is used to resize the gallery when no images are enlarged and to change the cursor to show the user that clicking again on the large image will have an effect.

			pre
				code.language-javascript.
					var windowWidth = $(window).innerWidth();&#10;
					if ( windowWidth &gt; 943 ) {
					&#9;$('.portfolio-image').toggle(function() {
					&#9;&#9;$(this).children('img').css({ 'width' : '400px' }).addClass('active');
					&#9;&#9;$(this).children('.image-caption').css({ 'opacity' : 1 , 'max-width' : '400px' });
					&#9;&#9;if ( $('.portfolio-gallery .portfolio-image').length === 2 ) {
					&#9;&#9;&#9;$('.portfolio-gallery').css({ 'width' : '920px' });
					&#9;&#9;}
					&#9;}, function () {
					&#9;&#9;$(this).children('img').css({ 'width' : '250px' }).removeClass('active');
					&#9;&#9;$(this).children('.image-caption').css({ 'opacity' : 0 , 'max-width' : '200px' });
					&#9;&#9;if ( !$('img').hasClass('active') ) {
					&#9;&#9;&#9;$('.portfolio-gallery').css({ 'width' : '635px' });
					&#9;&#9;}
					&#9;});
					}
					
			section.text-block
				p The main challenges of this project were learning Wordpress’ structure and basic PHP, I had messed around with PHP before in the <a href="/orchard47.html">Orchard47</a> project but never built a full project. I think learning by building something is the best way to solidify knowledge, and always leads to valuable tangents from learning the basics of a thing. I learned about the design process and how much to include the client, I learned how to budget my time and how long each step from design to development takes, and I challenged myself to design something that balanced the weird and the user-friendly, the analog, digital, and natural, and the result is a site that well represents an artist I greatly respect, and am proud to say that I built.

			h1.thanks THANKS FOR WATCHING!
		
		footer
			script(type="text/javascript" src="js/jquery-1.12.4.min.js")
			script(type="text/javascript" src="js/prism.js")
			script(type="text/javascript" src="js/slick.min.js")
			script(type="text/javascript" src="js/TweenMax.min.js")
			script(type="text/javascript" src="js/scripts.min.js")
			