@import "bourbon";
@import "_/grid-settings";
@import "neat";
@import '_/global';

main {
	@include outer-container;
	@include pad(0 10px 0 10px);
	img {
		@include span-columns(12);
		@include media($large-viewport) {
			@include span-columns(6);
			@include omega(2n);
		}
	}
	.about {
		@extend img;
		p {
			@include media($large-viewport) {
				max-width: 450px;
			}
		}
	}
	.skills {
		@extend img;
		// @include shift(6);
		margin-top: 60px;
		canvas {
			margin: 20px 0 60px;
			@media (min-width: 1280px) {
				margin-left: -105px;
			}
		}
	}
	h1 {
		font-size: 30px;
		font-weight: normal;
		margin: 25px 0 0;
		@include media($large-viewport) {
			margin-top: 0px;
		}
	}
	p a {
		color: $color-red;
		&:hover {
			color: $color-blue;
			transition: .3s;
		}
	}	
}