@import '_/vars';

// color variables

$color-bg : $color-off-white;
$color1   : $color-red;
$color2   : $color-orange;
$color3   : $color-black;
$color4   : $color-blue;
$color5   : $color-orange;
$color6   : blue;
$color7   : blue;
$color8   : $color-orange;
$color9   : $color-blue;
$color10  : $color-green;
$color11  : blue;
$color12  : blue;
$color13  : blue;
$color14  : blue;
$color15  : $color-orange;
$color16  : blue;


code[class*="language-"],
pre[class*="language-"] {
	color: $color1;
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: $color-bg;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: 0px;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: $color-black;
}

.token.punctuation {
	color: $color3;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.keyword,
.token.tag {
    color: $color4;
}

.token.class-name {
	color: $color5;
	text-decoration: underline;
}

.token.boolean,
.token.constant {
    color: $color6;
}

.token.symbol,
.token.deleted {
	color: $color7;
}

.token.number {
	color: $color8;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: $color9;
}

.token.variable {
	color: $color10;
}

.token.operator {
    color: $color3;
	background: none;
}

.token.entity {
    color: $color11;
    /* text-decoration: underline; */
}

.token.url {
    color: $color12;
}

.language-css .token.string,
.style .token.string {
	color: $color13;
}

.token.atrule,
.token.attr-value {
    color: $color14;
}

.token.function {
	color: $color15;
}

.token.regex {
    color: $color16;
}

.token.important {
	color: $color16;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}