@import "bourbon";
@import "_/grid-settings";
@import "neat";
@import '_/global';

.centered {
	@include media($small-viewport) {
		@include span-columns(12);
	}
	@include media($large-viewport) {
		@include span-columns(8);
		@include shift(2);
	}
}

main {
	@include outer-container();
	@include pad(0 10px 0 10px);
	.intro {
		text-align: center;
		.title {
			margin: 0 0 10px;
			font-weight: normal;
			font-size: 36px;
		}
	}
	.links {
		width: 285px;
		margin: 0 auto;
		a p, a img {
			display: inline-block;
		}
		.icon {
			display: inline;
			width: 30px;
		}
	}
	h1 {
		&.section-title {
			@include span-columns(12);
			text-align: center;
			margin: 0px auto 60px;
			font-weight: normal;
			font-size: 36px;
		}
		&.thanks {
			@extend .section-title;
		}
	}
	section {
		margin-bottom: 60px;
		@include span-columns(12);
		.img-lg {
			@include span-columns(12);
		}
		&.text-block {
			@extend .centered;
		}
		p.img-caption {
			font-style: italic;
			text-align: center;
			@extend .centered;
		}
		.slick {
			.slick-slide {
    			margin: 0 20px;
				height: auto;
  			}
		}
	}
	pre {
		@include span-columns(12);
	}
}


