@import "bourbon";
@import "_/grid-settings";
@import "neat";
@import '_/global';
@import '_/vars';

.centered {
	@include media($small-viewport) {
		@include span-columns(12);
	}
	@include media($large-viewport) {
		@include span-columns(8);
		@include shift(2);
	}
}

main {
	@include outer-container();
	@include pad(0 10px 0 10px);
	.intro {
		.title {
			font-weight: normal;
			font-size: 36px;
		}
		.tags {
			font-size: 16px;
			font-weight: normal;
			font-style: italic;
		}
		@include media($small-viewport) {
			text-align: center;
			.title {
				margin-bottom: 0px;
			}
			.tags {
				margin: 10px 0 0;
			}
		}
		@include media($large-viewport) {
			float: left;
			.title {
				margin-bottom: 10px;
			}
			.tags {
				margin: 0 0 30px;
			}
		}
	}
	.links {
		a {
			display: block;
		}
		a p, a img {
			display: inline-block;
		}
		.icon {
			display: inline;
			width: 23px;
			margin-bottom: -5px;
		}
		a:hover p {
			color: $color-red;
			transition: .4s;
		}
		@include media($small-viewport) {
			a {
				text-align: center;
				&:first-of-type p {
					margin-top: 30px;	
				}
				&:nth-of-type(2n) p {
					margin: 0 0 30px;
				}
			}
		}
		@include media($large-viewport) {
			float: right;
			margin: 45px 20px 0 0;
			a p {
				margin: 0px;
				&:first-of-type {
					margin-bottom: 10px;
				}
			}
		}
	}
	h1 {
		&.section-title {
			@include span-columns(12);
			text-align: center;
			margin: 0px auto 60px;
			font-weight: normal;
			font-size: 36px;
		}
		&.thanks {
			@extend .section-title;
		}
	}
	section {
		margin-bottom: 60px;
		@include span-columns(12);
		.img-lg {
			@include span-columns(12);
		}
		.img-md {
			@extend .centered;
		}
		&.text-block {
			@extend .centered;
			p a {
				color: $color-red;
				&:hover {
					color: $color-blue;
					transition: .3s;
				}
			}	 
		}
		p.img-caption {
			font-style: italic;
			text-align: center;
			@extend .centered;
		}
		.slick {
			.slick-slide {
    			margin: 0 20px;
				height: auto;
  			}
		}
	}
	pre {
		@include span-columns(12);
	}
}


